extends layout

block content
  .container.mt-5.pt-5
    .row.mb-4
      .col-md-8.offset-md-2
        .text-center
          h1.text-danger.mb-3 ERROR PAGE
          p.lead.text-muted Something went wrong. Please try again later.
          .alert.alert-warning
            i.fas.fa-exclamation-circle.mr-2
            | Oops! The page you're looking for doesn't exist or something went wrong.

        .d-flex.justify-content-center.mt-4
          a.btn.btn-primary(href='/') Go Back to Home
